.DS_Store
Library
Temp
*.csproj
*.sln
Assets/-tk2d.asset
Assets/-tk2d.asset.meta
MonstersUnity.userprefs
MyHotel.*
*.unityproj
*.~lock*
Assets/Scenes/Test*
Assets/PlayMaker/PlayMaker.sln.meta
Assets/PlayMaker/PlayMaker.userprefs*
Assets/Plugins/ELAN/Plugins/Editor.meta
Assets/Plugins/ELAN/Plugins/Android/res/drawable.meta
Assets/Plugins/ELAN/Plugins/Android/res/raw.meta
Assets/Plugins/ELAN/Plugins/Android/res/drawable/ic_launcher.png.meta
Assets/Plugins/ELAN/Plugins/Android/res/raw/bing.wav.meta
obj
Assets/Plugins/PlayMaker/WP8/PlayMaker.sln.meta
Assets/Plugins/PlayMaker/WP8/PlayMaker.userprefs
Assets/Plugins/PlayMaker/WP8/PlayMaker.userprefs.meta
LocalCache
Assets/spine-tk2d/Assets.meta
Assets/spine-tk2d/Assets/examples.meta
Assets/spine-tk2d/Assets/examples/goblins.meta
Assets/spine-tk2d/Assets/examples/goblins/images.meta
Assets/spine-tk2d/Assets/examples/goblins/images/goblingirl.meta
